# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Build
dist/
dist-ssr/

# Editor
.vscode/*
!.vscode/extensions.json
*.sw?

# OS
.DS_Store

# Environment
*.local

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# PWA dev
dev-dist/
